<%- include('./partials/header.ejs') %>

<!-- header -->
<%- include('./partials/navbar.ejs') %>

<main class="container margin-top">
  <div class="d-flex row-lg-12">
    <div class="row justify-content-center g-2">
      <% for(project of projects) {%>
      <div class="card mar-xy" style="width: 18rem">
        <a href="/project/<%=project._id %>">
          <img src="<%=project.image %>" class="card-img-top" alt="..." />
        </a>
        <div class="card-body">
          <small>#<%=project.category %></small>
          <h6 class="card-text h6" title="<%=project.title %>">
            <%=project.title.length > 30 ? project.title.substring(0,30)+"..." :
            project.title%>
          </h6>
          <!-- project.title.substring(0,30) -->
          <p title="<%=project.details %>">
            <%=project.details.length > 50 ?
            project.details.substring(0,50)+"...":project.details%>
            <!-- project.details.substring(0,50) -->
          </p>
          <% if(project.liveLink){ %>
          <a href="<%=project.liveLink %>" target="_blank"
            ><button class="btn btn-sm btn-dark">Live Demo</button></a
          ><% } %>
          <a href="<%=project.sourceCode%>" target="_blank">
            <button class="btn btn-sm btn-primary">Source URL</button></a
          >
        </div>
      </div>
      <% } %>
    </div>
  </div>
</main>

<%- include('./partials/footer.ejs') %>
